<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBsAiR6ak0o4v47QEP7xzsiqCQMSXEZ9lc</string>
	<key>GCM_SENDER_ID</key>
	<string>935607970977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.problemReportingSystem</string>
	<key>PROJECT_ID</key>
	<string>nott-a-problem</string>
	<key>STORAGE_BUCKET</key>
	<string>nott-a-problem.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935607970977:ios:99203acb3a5dc4514a94e0</string>
</dict>
</plist>